html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    gap: 20px;
    background-color: #efefef;
}
.header {
    color: #333333;
    font-size: 60px;
    padding: 15px 0;
    margin: 0;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.start {
    background-color: #4caf50;
}
.reset {
    background-color: #f44336;
}
.start,
.reset {
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
}
.label {
    font-size: large;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.displayWinner {
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-style: italic;
    color: #777777;
    text-decoration: underline overline;
    text-underline-offset: 0.2em;
}

.content {
    display: flex;
    gap: 100px;
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.player1,
.player2 {
    font-size: 30px;
    padding: 5px 0px;
    text-align: center;
    background-color: #d8d8d8;
    border: black solid 0.1px;
    border-radius: 15px;
}

.score1,
.score2 {
    text-align: center;
    font-size: 50px;
    color: #333333;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial Unicode MS', sans-serif;
    font-size: 80px;
    color: #222222;
    background-color: #f0f0f0;
}

.box1,
.box2,
.box4,
.box5 {
    border-right: #cccccc solid 4px;
    border-bottom: #cccccc solid 4px;
}

.box3,
.box6 {
    border-bottom: #cccccc solid 4px;
}

.box7,
.box8 {
    border-right: #cccccc solid 4px;
}
